@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: hsla(0, 0%, 7%, .07); */
    background-color: rgb(235, 235, 235);
    font-size: 18px;
    overflow-x: hidden;
}

input::placeholder {
    color: #999;
}